.container {
    display: flex;
    align-items: center;
    padding: 40px;
    width: 85%;
    margin: auto;
}

.container button {
    background: var(--purple);
    color: #fff;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 190px;
}

.container img {
    margin: 0px 20px;
    height: 20px;
}