.container {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #eaeaea;
    padding: 0px 20px;
    margin-top: 20px;
}

.container div div:first-child {
    border-right: 2px solid #eaeaea;
}

.tab {
    padding-right: 10px;
    box-sizing: border-box;
}

.container div {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.tab:first-child {
    color: var(--purple);
    border-bottom: 5px solid var(--purple);
}

.tab:active {
    color: var(--purple);
    border-bottom: 5px solid var(--purple);
}

.container div img {
    margin: 0px 10px;
}